html {
  font-size: 20px;
}
body {
  margin: auto;
  padding: 0;
  justify-content: center;
}
div {
  text-align: center;
}
.header {
  padding: 20px;
  background-color: #004b97;
  color: white;
  text-align: center;
  font-size: 2em;
}
.content {
  padding: 20px;
}
.button {
  border: none;
  padding: 1px 6px;
  border-width: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
#findResult,
#updateResult {
  display: none;
}
