{% extends "base.html" %}
{% block title %} member {% endblock %}
{% block header %}
歡迎光臨，這是會員頁
{% endblock %}
{% block content %}
<div class="content">
    {{name}}，歡迎登入系統
    <br>
    <a href="/signout">登出系統</a>
</div>
<hr/>
<div class="content">
    <span>快來留言吧</span>
    <form action="/message" method="POST">
        <label for="message">內容</label>
        <input type="text" id="message" name="message">
        <br>
        <input type="submit" value="送出">
    </form>
</div>
<hr/>
<div class="content">
    {% for i in range(len) %}
    <b>{{message_content[i][0]}}：</b>{{message_content[i][1]}}
    <br>
    {% endfor %}
</div>
{% endblock %}